fig-A-hist-1.pdf
fig-A-inc-1.pdf
fig-cate-hist-1.pdf
fig-cate-inc-lm-1.pdf
fig-cate-inc-smooth-1.pdf
fig-cate-inc-unc-1.pdf
unnamed-chunk-10-1.pdf
unnamed-chunk-10-2.pdf
unnamed-chunk-10-3.pdf
unnamed-chunk-11-1.pdf
unnamed-chunk-11-2.pdf
unnamed-chunk-11-3.pdf
unnamed-chunk-11-4.pdf
unnamed-chunk-12-1.pdf
unnamed-chunk-15-1.pdf
unnamed-chunk-16-1.pdf
unnamed-chunk-17-1.pdf
unnamed-chunk-17-2.pdf
unnamed-chunk-18-1.pdf
unnamed-chunk-19-1.pdf
unnamed-chunk-19-2.pdf
unnamed-chunk-8-1.pdf
unnamed-chunk-9-1.pdf
unnamed-chunk-9-2.pdf
unnamed-chunk-9-3.pdf
